PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/syncsummit?retryWrites=true&w=majority
CLIENT_URL=http://localhost:5173
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=30d

# Razorpay (For payments, if integrated)
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_SECRET=your_razorpay_secret
RAZORPAY_WEBHOOK_SECRET=your_razorpay_webhook_secret

# Cloudinary (For Image Uploads)
CLOUDINARY_CLOUD_NAME=dnxro6ovi
CLOUDINARY_API_KEY=241289841527343
CLOUDINARY_API_SECRET=qHlZhTnZ0AZ-Xe6uS5um0A5jYzk
